---
machine:
  network:
    interfaces:
      - interface: lo
        addresses:
          - 192.168.16.13/32
      - interface: thunderbolt0
        addresses:
          - 192.168.16.5/31
        mtu: 9000
        routes:
          - network: 192.168.16.12/32
            gateway: 192.168.16.4
      - interface: thunderbolt1
        addresses:
          - 192.168.16.3/31
        mtu: 9000
        routes:
          - network: 192.168.16.11/32
            gateway: 192.168.16.2
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos03
