---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos01
---
apiVersion: v1alpha1
kind: LinkConfig
name: ceph-tb0
up: true
mtu: 9000
addresses:
  - address: 192.168.16.2/31
routes:
  - destination: 192.168.16.13/32
    gateway: 192.168.16.3
---
apiVersion: v1alpha1
kind: LinkConfig
name: ceph-tb1
up: true
mtu: 9000
addresses:
  - address: 192.168.16.0/31
routes:
  - destination: 192.168.16.12/32
    gateway: 192.168.16.1
---
apiVersion: v1alpha1
kind: LinkConfig
name: lo
addresses:
  - address: 192.168.16.11/32
