---
customization:
  extraKernelArgs:
    - intel_iommu=on
    - iommu=pt
    - sysctl.kernel.kexec_load_disabled=1
    - thunderbolt.host_reset=0
  systemExtensions:
    officialExtensions:
      - siderolabs/intel-ucode
      - siderolabs/mei
      - siderolabs/i915
      - siderolabs/thunderbolt
